{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">{% if client %}✏️ Editar Cliente{% endif %}</h2>
    
    <div class="auth-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-auth">
                <i class="bi bi-save"></i> Guardar
            </button>
            <a href="{% url 'clientes' %}" class="btn btn-secondary">
                <i class="bi bi-x-circle"></i> Cancelar
            </a>
        </form>
    </div>
</div>
{% endblock %}